body{
    margin: auto;
}
section.top-page{
    background: url("../image/lac-des-fees.jpg");
    background-size: cover;
    height:100%;
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top:20%;
    font: italic 2em "Fira Sans", serif ;
    background-color: rgba(243, 205, 135, 0.89);
    color: rgb(255, 255, 255);
}
header {
    color:rgba(14, 150, 105, 0.911);
    display: flex;
    background-color: rgb(63, 36, 32) ;
    justify-content: space-between;
    opacity: 90%;
    font:oblique 20px "Fira Sans", serif;
}
li a:hover, a:focus, a:active{
    color:rgba(243, 205, 135, 0.89);
    background-color:  rgb(104, 47, 39);
    border-radius: 5% / 10%;
    box-shadow: -3px 0px 5px 5px rgba(206, 124, 31, 0.63),3px 0px 5px 5px rgba(112, 83, 3, 0.911);
}
a{
    color: rgb(139, 0, 0);
    font-weight: 900;
    text-decoration: none;
    font-style: italic;
    padding: 1px 5px 1px 5px;
}
.pro{
    background: url("../image/da_vinci_vitruve_luc_viatour.jpg");
    background-size: cover;
    height: 100%;
    border-top: 5px solid  rgb(63, 36, 32) ;
    border-bottom: 5px solid  rgb(63, 36, 32) ;
    padding: 50px;
    color: rgb(92, 53, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}
.grid{
    display: grid;
    margin-top: 10%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,0.25fr);
    grid-template-areas:
    " one one one one one "
    " two two . three three "
    " two two four four four "
    " . five five five . ";
    padding: 10px;
    background-color: rgba(245, 222, 179, 0.514);
}
.pro h1{
    font-size: 2em;
}
.pro h1,h3,h6{
    text-align: center;
    font-style: italic;
    color:rgb(126, 32, 20);
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
    text-align: center;
}
#fleche{
    position: absolute;
    left: calc(50% - 25px);
    width: 50px;
    height: 25px;
    border: 1px dashed black;
    padding: 2px;
}
#fleche:hover{
    background-color: cadetblue;
}
footer{
    background-color: rgb(63, 36, 32) ;
    background-size: cover;
    height:20px;
    width: auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 20px ;
    padding-left: 5px;
}
#lab-ch{
    display: none;
    margin: 5px;
    background: linear-gradient( rgb(63, 36, 32)0%, rgb(63, 36, 32)20%, transparent 21%, transparent 40%, rgb(63, 36, 32) 41%,
     rgb(63, 36, 32)60%, transparent 61%, transparent 80%, rgb(63, 36, 32) 81%,  rgb(63, 36, 32) 100%);
     opacity: 0.9;
    border-radius: 15%;
    width: 20px;
    height: 20px;
}
#ch{
    display: none;
}
@media all and (max-width:960px){
    header{
        display: none;
    }
    nav ul{
        position: relative;
        display: block;
        text-align: center;
        font-size: 1.5em;
        width: auto;
        transform: translate(-1000px,0);
        transition: all 1s ease;
        padding: 0;
        margin: 0;
    }
    .certif{
        display: block;
        position: initial;
        margin: 2% 15%;
        width: 75%;

    }
    h2{
        margin: 15%;
        font-size: 2.5em;
    }
    #ch:checked+nav ul{
        transform: translate(0px,0);
    }
    #lab-ch{
        display: block;
    }
    .grid{
        display: block;
        margin: 0%;    
        padding: 1px;
        text-align: center;
    }
    .grid h6{
        padding-bottom: 20px;
        border-bottom: 2px dashed rgb(63, 36, 32);
    }
    .grid .five h6{
        border: none;
    }
    .pro{
        padding: 10px;
        background-attachment: fixed;
    }
}